{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <!-- Facebook -->
    <title>Uber Promo Codes</title>
	<meta name="Description" content="Need promos for Uber in Bangladesh? Get 50% off Uber Promo code and save your money!">
	<meta name="Keywords" content="Uber, Uber Promo Codes in Dhaka, Free Uber Dhaka, Dhaka Uber Codes, New Promo Uber Dhaka, 50% off uber,">
	<div class="hidden"><a rel="author" href=”https://plus.google.com/u/0/+SaifHassan>Saif Hassan</a> </div>


    <!-- Facebook -->
    <meta property="og:type" content="article">
	<meta property="og:title" content="Get Your Uber Promo Code">
	<meta property="og:site_name" content="Uber Promo Codes">
	<meta property="og:description" content="Need promos for Uber in Bangladesh? Get 50% off Uber Promo code and save your money!">
	<meta property="og:url" content="http://uberpromocodes.pythonanywhere.com">
	<meta property="og:image" content="http://i.imgur.com/4LRFGit.png">
	<meta property="article:author" content="https://facebook.com/saiftheboss7">


  </head>
  <body>
   <div class="jumbotron jumbotron-fluid">
						  <div class="container">
						    <h1 class="display-3">Uber Promos</h1>
						    <p class="lead">This website regularly provides new Promos for Uber in Dhaka</p>
						  </div>
						</div>
    <div class="container">
    	<div class="row">
        	<div class="col-xs-12">

        	
    		{% for post in posts %}
			    		
			    		<div class="myclass">
				        <div><h1>{{ post.title }}
						</h1></div>
				        <div class="alert alert-success" role="alert"><h2 class="display-4">{{ post.text|linebreaksbr }}</h2></div>

				        <div class="bs-callout bs-callout-primary"><h4>Valid up to: {{post.validity}}</h4></div>
				        <hr />
				        </div>
			    
			{% endfor %}
			
			<a href="https://facebook.com/saiftheboss7" class="btn btn-outline-primary btn-sm">Made by Saif Hassan</a>
        	</div>

    	</div>
	</div>                    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>